<div>
  <div class="listHeader">
    <button mat-raised-button (click)="changeResults(response.previous)">Previous</button>
    <p>Showing -- to -- of --- Results</p>
    <button mat-raised-button (click)="changeResults(response.next)">Next</button>
  </div>

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let pokemon of response?.results">
      <mat-card>
        <mat-card-content>
          <p>Name: {{ pokemon?.name | uppercase }}</p>
          <p>ID: {{ pokemon?.url }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
