<div>
  <div class="listHeader">
    <button mat-raised-button (click)="changeResults(apiResponse.previous)">Previous</button>
    <p>Showing -- to -- of --- Results</p>
    <button mat-raised-button (click)="changeResults(apiResponse.next)">Next</button>
  </div>

  <p>Prev: {{ apiResponse?.previous }}</p>
  <p>Next: {{ apiResponse?.next }}</p>

  <mat-grid-list cols="2">
    <mat-grid-tile *ngFor="let pokemon of apiResponse?.results">
      <mat-card (click)="showPokemonDetails($event)">
        <mat-card-content>
          <p>{{ pokemon?.name | uppercase }}</p>
          <p>{{ pokemon?.url }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
