<div *ngIf="pokemonDetails">
  <mat-card (click)="showPokemonDetails(pokemonDetails)">
    <mat-card-content>
      <p>{{ pokemonDetails.name | uppercase }}</p>
      <img src="{{ pokemonDetails.sprites.front_default }}">
      <p>Weight: {{ pokemonDetails.weight }}</p>
      <p>Height: {{ pokemonDetails.height }}</p>
      <div id="type-buttons">
        <button mat-raised-button *ngFor="let type of pokemonDetails.types" (click)="showType(type.type.url)">
          {{ type.type.name | uppercase }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
