.advSearchDiv {
  background-color: #ffde00;
  margin: 0px 20px 0px 20px;
  text-align: center;
}

.dropDownDiv {
  background-color: #ffde00;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
  padding: 4px 16px;
  cursor: pointer;
  margin: auto;
}

p {
  margin: 0;
  color: black;
}

button {
  text-align: center;
}

