<div class="advSearchDiv"
[@slideInOut]="animationState">
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <p>advanced-search works!</p>
  <button>hey</button>
</div>

<div class="dropDownDiv" (click)="toggleShowDiv()">
  <p>Show Advanced Search</p>
  <img width="20px" height="20px" src="https://img.icons8.com/metro/50/000000/expand-arrow.png">
</div>
