/* * {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  width: 100%;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

a:hover {
  opacity: 0.9;
}

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #cc0000;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.container {
  padding: 8px 16px;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Pokemon Types Button Design */
.mat-raised-button.normal {
  background-color: #a8a77a;
}

.fighting {
  background-color: #c22e28;
}

.flying {
  background-color: #a98ff3;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.rock {
  background-color: #b6a136;
}

.bug {
  background-color: #a6b91a;
}

.ghost {
  background-color: #735797;
}

.steel {
  background-color: #b7b7ce;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.grass {
  background-color: #7ac74c;
}

.electric {
  background-color: #f7d02c;
}

.psychic {
  background-color: #f95587;
}

.ice {
  background-color: #96d9d6;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.fairy {
  background-color: #d685ad;
}

.unknown {
  background-color: #68a090;
}

.shadow {
  background-color: purple;
}
